revenue_alert_monitoring.json
{
  "name": "revenue_alert_monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "17a5b286-3010-43aa-ba7a-f2ca37bd9544",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b2d9473-9654-47ff-b8ed-b31aaae4bd63",
              "leftValue": "={{ $json.id }}",
              "rightValue": {},
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -192
      ],
      "id": "20898b2f-6685-4fe7-99f6-bcb2228846d6",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const currentOrders = Number($json.current_orders || 0);\nconst currentRevenue = Number($json.current_revenue || 0);\nconst currentCancelled = Number($json.current_cancelled || 0);\n\nconst previousOrders = Number($json.previous_orders || 0);\nconst previousRevenue = Number($json.previous_revenue || 0);\n\n// ===== CALCULATE =====\nconst orderDropRate = previousOrders > 0\n  ? ((previousOrders - currentOrders) / previousOrders) * 100\n  : 0;\n\nconst revenueDropRate = previousRevenue > 0\n  ? ((previousRevenue - currentRevenue) / previousRevenue) * 100\n  : 0;\n\nconst cancelRate = currentOrders > 0\n  ? (currentCancelled / currentOrders) * 100\n  : 0;\n\n// ===== DEFAULT =====\nlet alert_level = \"normal\";\nlet type = \"normal\";\nlet severity = \"info\";\nlet message = \"Hoạt động bán hàng bình thường\";\n\n// ===== LOGIC ALERT =====\n\n// 🚨 CRITICAL: Không có đơn\nif (currentOrders === 0) {\n  alert_level = \"critical\";\n  type = \"low_order_rate\";\n  severity = \"critical\";\n  message = `🚨 Không có đơn hàng trong 1 giờ qua. Doanh thu hiện tại: ${currentRevenue}đ`;\n}\n\n// ⚠️ WARNING: Giảm đơn mạnh\nelse if (orderDropRate >= 50) {\n  alert_level = \"warning\";\n  type = \"order_drop\";\n  severity = \"warning\";\n  message = `⚠️ Số đơn giảm ${orderDropRate.toFixed(1)}% so với giờ trước. Hiện tại: ${currentOrders}, trước: ${previousOrders}`;\n}\n\n// ⚠️ WARNING: Giảm doanh thu\nelse if (revenueDropRate >= 50) {\n  alert_level = \"warning\";\n  type = \"low_revenue\";\n  severity = \"warning\";\n  message = `⚠️ Doanh thu giảm ${revenueDropRate.toFixed(1)}%. Hiện tại: ${currentRevenue}đ, trước: ${previousRevenue}đ`;\n}\n\n// 🚨 CRITICAL: Tỷ lệ hủy cao\nelse if (cancelRate >= 30) {\n  alert_level = \"critical\";\n  type = \"high_cancel_rate\";\n  severity = \"critical\";\n  message = `🚨 Tỷ lệ hủy cao: ${cancelRate.toFixed(1)}% (${currentCancelled}/${currentOrders})`;\n}\n\n// ===== RETURN =====\nreturn [{\n  alert_level,\n  type,\n  severity,\n  status: \"open\",\n  message,\n\n  current_orders: currentOrders,\n  previous_orders: previousOrders,\n\n  current_revenue: currentRevenue,\n  previous_revenue: previousRevenue,\n\n  current_cancelled: currentCancelled,\n\n  order_drop_rate: orderDropRate.toFixed(1),\n  revenue_drop_rate: revenueDropRate.toFixed(1),\n  cancel_rate: cancelRate.toFixed(1),\n\n  created_at: new Date().toISOString()\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "4082ba91-eed9-4e39-a3b3-a78fdcb9d6e2",
      "name": "Calculate Alert Level"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (\n    WHERE created_at >= date_trunc('day', NOW())\n  ) AS current_orders,\n\n  COALESCE(SUM(total_amount) FILTER (\n    WHERE created_at >= date_trunc('day', NOW())\n  ), 0) AS current_revenue,\n\n  COUNT(*) FILTER (\n    WHERE status = 'cancelled'\n    AND created_at >= date_trunc('day', NOW())\n  ) AS current_cancelled,\n\n  COUNT(*) FILTER (\n    WHERE created_at >= date_trunc('day', NOW()) - INTERVAL '1 day'\n    AND created_at < date_trunc('day', NOW())\n  ) AS previous_orders,\n\n  COALESCE(SUM(total_amount) FILTER (\n    WHERE created_at >= date_trunc('day', NOW()) - INTERVAL '1 day'\n    AND created_at < date_trunc('day', NOW())\n  ), 0) AS previous_revenue\nFROM orders;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "5a8e25fd-6a71-4750-b9c0-ddd5e2255a52",
      "name": "Get Revenue Comparison",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM alerts\nWHERE type = '{{ $json.type }}'\nAND status = 'open'\nORDER BY created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        -16
      ],
      "id": "5f400902-57e6-480c-8bb9-239f41c320c9",
      "name": "Check Existing Open Alert",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alerts\nSET\n  message = '{{ $(\"Calculate Alert Level\").item.json.message }}',\n  severity = '{{ $(\"Calculate Alert Level\").item.json.severity }}',\n  created_at = NOW()\nWHERE id = {{ $json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        -208
      ],
      "id": "ebc950b7-045b-475f-80ea-a213b4002d5b",
      "name": "Update Existing Alert",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "alerts",
          "mode": "list",
          "cachedResultName": "alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "={{ $(\"Calculate Alert Level\").item.json.type }}",
            "message": "={{ $(\"Calculate Alert Level\").item.json.message }}",
            "severity": "={{ $(\"Calculate Alert Level\").item.json.severity }}",
            "status": "open"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resolved_at",
              "displayName": "resolved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        16
      ],
      "id": "73c8fb1d-6ffe-42e6-a1fb-ee3fadd5a96c",
      "name": "Create New Alert",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "nhungnguyen.14082005@gmail.com",
        "toEmail": "nhungnth.23ite@vku.udn.vn",
        "subject": "[{{$json.severity}}] Cảnh báo hệ thống",
        "html": "=Loại cảnh báo: {{ $(\"Calculate Alert Level\").item.json.type }}\n\nNội dung:\n{{ $(\"Calculate Alert Level\").item.json.message }}\n\nKPI:\n- Doanh thu hiện tại: {{ $(\"Calculate Alert Level\").item.json.current_revenue }}\n- Doanh thu giờ trước: {{ $(\"Calculate Alert Level\").item.json.previous_revenue }}\n- Số đơn hiện tại: {{ $(\"Calculate Alert Level\").item.json.current_orders }}\n- Số đơn giờ trước: {{ $(\"Calculate Alert Level\").item.json.previous_orders }}\n- Tỷ lệ giảm doanh thu: {{ $(\"Calculate Alert Level\").item.json.revenue_drop_rate }}%",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1664,
        -112
      ],
      "id": "f351a07e-1cc2-4943-8565-b3cf6debcfa3",
      "name": "Send an Email",
      "webhookId": "d34e0254-af25-4015-a63e-028317471381",
      "credentials": {
        "smtp": {
          "id": "1HNJyw2FZkrYcGxD",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fde27085-a3be-48ad-a926-ba62a19abb5a",
              "leftValue": "={{ $json.alert_level }}",
              "rightValue": "normal",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        0
      ],
      "id": "bce1506f-470e-4e01-b36f-e5db76769d65",
      "name": "Alert Level != normal"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_logs",
          "mode": "list",
          "cachedResultName": "workflow_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "revenue_alert_monitoring",
            "status": "warning",
            "message": "={{ $(\"Calculate Alert Level\").item.json.message }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "executed_at",
              "displayName": "executed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        -112
      ],
      "id": "681474fe-6bd7-4428-91b6-fa469e236014",
      "name": "Insert Risk Log",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_logs",
          "mode": "list",
          "cachedResultName": "workflow_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_name": "revenue_alert_monitoring",
            "status": "success",
            "message": "Doanh thu bình thường, không phát hiện rủi ro"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "executed_at",
              "displayName": "executed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        224
      ],
      "id": "3007a81c-60ba-4978-b17c-565a82e1f476",
      "name": "Insert Healthy Log",
      "credentials": {
        "postgres": {
          "id": "KnPmrS0dgQM3aBAb",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Revenue Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Existing Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Alert Level": {
      "main": [
        [
          {
            "node": "Alert Level != normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Revenue Comparison": {
      "main": [
        [
          {
            "node": "Calculate Alert Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Open Alert": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Alert": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Alert": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Insert Risk Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Level != normal": {
      "main": [
        [
          {
            "node": "Check Existing Open Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Healthy Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb989330-b6ea-4720-8008-2ba0a468e32f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a6bfee5e350f964abf885434ff2da90f66666f3f239705b6ef882b3f56712fe"
  },
  "id": "3jJKqliP2F4NpfSy",
  "tags": []
}